.allStudentsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border: 1px solid white;
  border-radius: 5px;
  padding: 15px;
  margin-top: 3%;
}

.nextNumber {
  font-size: 2rem;
  align-self: center;
}

.studentListContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.allStudents {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 300px;
}

.allStudents p {
  padding-right: 50px;
}

.allStudentsContainer form {
  width: 100%;
  border: none;
}

label {
  margin-left: 10%;
}

input {
  margin-left: 10%;
  margin-top: 3px;
}

#message {
  width: 100%;
  margin-left: 10%;
  white-space: pre-line;
}

button {
  background-color: red;
  border: 1px solid red;
  margin-left: 10%;
  margin-top: 3px;
}
