.allStudentsContainer {
  display: flex;
  flex-direction: column;
}

.nextNumber {
  font-size: 2rem;
  align-self: center;
}

.allStudents {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 175px;
}

.allStudents p {
  padding-right: 50px;
}
