.allStudentsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border: 1px solid white;
  border-radius: 5px;
  padding: 15px;
  margin-top: 3%;
}

.nextNumber {
  font-size: 2rem;
  align-self: center;
}

.studentListContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.allStudents {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 300px;
}

.allStudents p {
  padding-right: 50px;
}
